src/main/resources/soap-contracts/hello.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/payments" elementFormDefault="qualified">

    <xs:element name="getHelloStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="greetId" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHelloStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="greetStatus" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>